body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

svg.figure rect {
  fill: #811C00;
}

svg.figure text {
  fill: #811C00;
  font-size: 18px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: default;
}

svg.figure line {
  stroke-width: 1;
  stroke: grey;
  opacity: 0;
}

svg.figure circle {
  stroke: #811C00;
  stroke-width: 1px;
  fill: none;
}

.hex-input-container {
  width: 550px;
  margin: auto;
}

input.hex-input, input.char-output {
  height: 38px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #999;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
  width: 75%;
  display: inline-block;
}

input.char-output {
  margin-top: 15px;
}

.input-group label {
  width: 20%;
  display: inline-block;
  color: #999;
  font-weight: 300;
  text-align: right;
  padding-right: 10px;
}
